<div class="columns">
    <div class="column">
        <h4 class="subtitle">{{::$ctrl.componentName.text}}</h4>
        <div class="dropdown " ng-mouseleave="$ctrl.showDropdown = false;">
            <input ng-focus ="$ctrl.showDropdown = true;" ng-model="$ctrl.userInput" ng-change="$ctrl.updateAirports($ctrl.userInput);" class="input" type="text" placeholder="Search">
            <div class="dropdown-menu" ng-if="$ctrl.showDropdown">
                <div class="dropdown-content">
                    <a class="dropdown-item" ng-click="$ctrl.airportSelected(airport);" ng-repeat="airport in $ctrl.filteredAirports">
                        {{::airport.name}}
                    </a>
                </div>
            </div>
        </div>
        <h3 ng-if="$ctrl.isAirportSelected()" class="title"> <span class="tag is-large">{{$ctrl.selectedAirport.name}} - {{$ctrl.selectedAirport.country.name}}</span></h3>        
    </div>
</div>

